<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <title>아이템등록</title>
</head>
<body>
    <th:block layout:fragment="content">
        
        <div class="row m-4">
            <h1 class="text-center">등록</h1>
            <div class="col-8 offset-2">
                
                <form action="/admin/item/register" method="post" th:object="${itemDTO}" enctype="multipart/form-data">
                    
                    <div class="row">
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="itemSellStatus">판매상태</label>
                            <select class="form-select" id="itemSellStatus" th:field="*{itemSellStatus}">
                                <option value="SELL">판매중</option>
                                <option value="SOLD_OUT">품절</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="itemNm">상품명</span>
                            <input th:field="*{itemNm}" type="text" class="form-control" placeholder="상품명을 입력해주세요." aria-label="Username" aria-describedby="itemNm">
                        </div>
                        <p th:if="${#fields.hasErrors('itemNm')}" th:errors="*{itemNm}" class="fieldError"></p>
                    </div>
                    
                    <div class="row">
                        <div class="input-group mb-3">
                            <span class="input-group-text">상세설명</span>
                            <textarea th:field="*{itemDetail}" class="form-control"></textarea>
                        </div>
                        <p th:if="${#fields.hasErrors('itemDetail')}" th:errors="*{itemDetail}" class="fieldError"></p>
                    </div>
                    
                    <div class="row">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="price">가격</span>
                            <input th:field="*{price}" type="number" min="0" class="form-control" aria-label="price" aria-describedby="price" required>
                        </div>
                        <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="fieldError"></p>
                    </div>
                    
                    <div class="row">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="stockNumber">재고수량</span>
                            <input th:field="*{stockNumber}" min="0" type="number" class="form-control" aria-label="stockNumber" aria-describedby="stockNumber" required>
                        </div>
                        <p th:if="${#fields.hasErrors('stockNumber')}" th:errors="*{stockNumber}" class="fieldError"></p>
                    </div>
                    
                    
                    <!--todo 이미지 등록하기-->
                    <div class="row main imgpreview"></div>
                    
                    <div class="row">
                        <div class="mb-3 imgA">
                            <label for="formFileLg1" class="form-label">대표이미지</label>
                            <input name="mainimg" class="form-control form-control-lg mainimg imgInput" id="formFileLg1" type="file">
                        </div>
                    </div>
                    
                    <div class="row imgd imgpreview"></div>
                    
                    <div class="row">
                        <div class="mb-3 imgA">
                            <label for="formFileLg2" class="form-label">상세이미지</label>
                            <input name="mutipartFile" class="form-control form-control-lg imgInput" id="formFileLg2" type="file">
                        </div>
                    </div>
                    
                    
                    <div class="row text-center">
                        <div class="col">
                            <button class="btn btn-dark">저장</button>
                        </div>
                        <div class="col">
                            <button class="btn btn-dark" type="reset">모두삭제</button>
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
        
    </th:block>

    <th:block layout:fragment="script">
        <script th:inline="javascript">
            $(document).ready(function () {
                /*문서가 다 로딩 되고 난 후 실행*/
                
                let msg = [[${msg}]]
                
                imgInputCheck(msg)
                
                
                
                let imgA = $(".imgA")
                
                /*input type:file에 대한 이벤트*/
                imgA.on("change", "input", function () {
                    // 파일 유효성 검사
                    let fileName = $(this).val().split("\\").pop()/*파일 이름*/
                    let fileExt = fileName.substring(fileName.lastIndexOf(".")+1)/*파일 확장자*/
                    fileExt = fileExt.toLowerCase()
                    if(fileExt != "jpg" && fileExt !="jpeg" && fileExt !="png" && fileExt != "gif" && fileExt !="bmp"){
                        $(this).val("")
                        alert("이미지 파일만 넣어주세요.")
                        return false;
                    }
                    
                    if(this.classList.contains("mainimg")){
                        /*클래스 중 mainimg가 있다면...*/
                        /*대표이미지 미리보기*/
                        readURLMain(this)
                    }else{
                        /*상세이미지 미리보기*/
                        readURL(this)
                    }
                })
                
                /*올리지않기 버튼*/
                $(".imgpreview").on("click","button",function () {
                    $(this).parent().remove()
                })
                
                /*미리보기 대표*/
                function readURLMain( input ) {
                    if(input.files && input.files[0]){
                        let reader = new FileReader();
                        reader.onload = function (e) {
                            let inputtag = document.createElement("input")
                            inputtag.type = "file";
                            inputtag.name = "mainimg";
                            
                            const dataTransfer = new DataTransfer();
                            const fileDatas = Array.from(input.files);
                            
                            fileDatas.forEach(file => dataTransfer.items.add(file))
                            
                            inputtag.files = dataTransfer.files;
                            
                            let str1 = `<div class="preview col"><img width="100%" src="${e.target.result}"><button type="button" class="btn btn-dark">올리지 않기</button></div>`
                            
                            $(".main").html(str1)
                            $(".main").find('div:eq(0)').append(inputtag)
                            $(".main").find('input').hide()
                            $(".imgInput").val('')
                            
                        }
                        reader.readAsDataURL(input.files[0])
                    }
                }
                
                /*미리보기 상세*/
                function readURL(input) {
                    if(input.files && input.files[0]){
                        let reader = new FileReader();
                        reader.onload = function (e) {
                            let inputtag = document.createElement("input")
                            inputtag.type = "file";
                            inputtag.name = "multipartFile";
                            
                            const dataTransfer = new DataTransfer();
                            const fileDatas = Array.from(input.files);
                            
                            fileDatas.forEach(file => dataTransfer.items.add(file))
                            
                            inputtag.files = dataTransfer.files;
                            
                            let str1 = `<div class="preview col"><img width="100%" src="${e.target.result}"><button type="button" class="btn btn-dark">올리지 않기</button></div>`
                            
                            $(".imgd").prepend(str1)
                            $(".imgd").find('div:eq(0)').append(inputtag)
                            $(".imgd").find('input').hide()
                            $(".imgInput").val('')
                            
                        }
                        reader.readAsDataURL(input.files[0])
                    }
                }
                
                function imgInputCheck(msg) {
                    if(msg){
                        alert(msg)
                    }
                }
            })
        </script>
    </th:block>

</body>
</html>