<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
    <th:block layout:fragment="content">
        
        <form action="/user/signUp" method="post" th:object="${membersDTO}">
            <div class="row mt-3">
                <div class="col-6 offset-3 shadow p-4">
                    <h1 class="text-center">회원가입</h1>
                    
                    
                    <div class="row">
                        <div class="col">
                            <div class="form-floating mb-3">
                                <input th:field="*{name}" type="text" class="form-control" id="name" name="name" required>
                                <label for="name">이름</label>
                                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="fieldError"></p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col">
                            <div class="form-floating mb-3">
                                <input name="email" th:field="*{email}" type="email" class="form-control" id="email" placeholder="name@example.com" required>
                                <label for="email">Email address</label>
                                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="fieldError"></p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col">
                            <div class="form-floating mb-3">
                                <input name="password" th:field="*{password}" type="password" class="form-control" id="password" required>
                                <label for="password">비밀번호</label>
                                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="fieldError"></p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row row-cols-1">
                        <div class="col-md-8 col">
                            <div class="form-floating mb-3">
                                <input name="address" type="text" th:field="*{address}" class="form-control" id="sample5_address" readonly required>
                                <label for="sample5_address">주소</label>
                                <p th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="fieldError"></p>
                            </div>
                        </div>
                        <div class="col-md-4 col">
                            <input type="button" class="btn btn-secondary  align-items-center"
                                   onclick="sample5_execDaumPostcode()" value="주소 검색">
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col text-center">
                            <button type="submit" class="btn btn-dark">회원가입</button>
                            <button type="button" class="btn btn-dark">로그인</button>
                        </div>
                    </div>
                
                </div>
            </div>
        </form>
        
        
        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        <script>
            function sample5_execDaumPostcode() {
                new daum.Postcode({
                    oncomplete: function(data) {
                        var addr = data.address; // 최종 주소 변수
                        
                        // 주소 정보를 해당 필드에 넣는다.
                        document.getElementById("sample5_address").value = addr;
                    }
                }).open();
            }
        </script>
        
    </th:block>
</body>
</html>